html,body{
  width:100%;
  height:100%;
}
body{
  display:grid;
  align-content:center;
  justify-content:center;
}
#quote{
  margin:1em auto;
  text-align:justify;
  align-self:center;
  width:90vw;
  font-size:large;
  font-style:italic;
}
#quote .typed{
  color:red;
}
#quote .typed.recent{
  text-decoration:underline;
}
#credit{
  text-align:right;
  font-weight:bold;
}
.hidden{
  display:none;
}
#pause{
  text-align:center;
}
